# local package
-e .
./atom3/atom3-0.1.4-py2-none-any.whl

# internal requirements
tqdm

# external requirements
click
Sphinx
coverage
awscli
flake8
biopython==1.76.0


# backwards compatibility
pathlib2